* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
}

.top-color-bar{
    width: 100%;
    background-color: #000;
    z-index: 1000;
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-header {
    position: absolute;
    z-index: 1001;
    width: 100%;
    padding: 0px 55px;
    display: flex;
    justify-content: space-between; 
    align-items: center;

}
.logo img {
    height: 70px; 
    transition: transform 0.4s ease-out;
    filter 0.4s ease-out;
    cursor: pointer;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo img.logo-clicked {
    transform: scale(1.3) rotate(5deg);
    filter: drop-shadow(0 0 10px #ff0000)
    drop-shadow(0 0 20px #ff6666);

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s; 
}

.nav-links a:hover {
    color: #f00; 
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../galeria/fondomenu.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.content {
    position: relative; 
    z-index: 2;
    padding: 150px 30px 0 30px;
    margin-top: 80px;
    width: 100%;
    display: block; 
}


.text-content {
    position: relative;
    max-width: 700px;
    margin-left: 50px;
    overflow: hidden;
}

.text-content h1,
.text-content p {
    opacity: 0;  
}
 

@keyframes fade-in-up {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


.text-content h1 {
    font-size: 3em;
    margin-bottom: 40px;
    font-weight: 700;

    animation: fade-in-up 1s ease-out forwards;
    animation-delay: 0.5s;
}

.text-content p {
    font-size: 1.2em;
    font-weight: 300;
}

.text-content p:nth-of-type(1) {
    animation: fade-in-up 1s ease-out forwards;
    animation-delay: 1.5s;
}

.text-content p:nth-of-type(2) {
    animation: fade-in-up 1s ease-out forwards;
    animation-delay: 2.5s;
}

.animar {
    transition: transform 0.3s ease-out;
}

.animar:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.resaltar {
    transition: all 0.5s ease-in-out;
}

.resaltar:hover {
    color: #636341;
    transform: scale(1.02);
}

.resaltar-neon {
    transition: all 0.3s ease-in-out;
    display: block;
    color: #fff;
    text-shadow: none;
}

.resaltar-neon:hover {
    color: #ffffff;
    text-shadow: 
    0 0 5px #ffffff,
    0 0 10px #ffffff;
}
.main-footer {
    width: 100%;
    background-color: #000; 
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid rgb(235, 15, 15);
    position: fixed;
    bottom: 0;
    z-index: 10;
}


.footer-content h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.footer-content p a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out, opacity 0.3s;
}

.footer-content p a:hover {
    color: #ff0000;
    opacity: 0.8;
}


.copyright {
    font-size: 0.8em;
    color: #ff0000;
}
 
.hero-video {
    position: absolute;
    top: 50%;
    right: 55px; 
    transform: translateY(-50%);
   width: 550px; 
    height: auto;
    z-index: 2;
    object-fit:cover;
}
